:root {
  font-family: 'Poppins', sans-serif;
  --red: hsl(0, 100%, 74%);
  --green: #38cc8c;
  --blue: #5f54a6;
  --grayish-blue: hsl(246, 25%, 77%);
  --dark-blue: hsl(249, 10%, 26%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('./assets/bg-intro-mobile.png');
  background-color: var(--red);
}
@media (width > 600px) {
  body{
    background-image: url('./assets/bg-intro-desktop.png');
    background-color: var(--red);
  }

  
}